// Initial variables //
$primary: #bb133e;
$secondary: #000;
$subtitle: #979797;
$success: #94d500;
$yellow: #f2d636;
$grey: #686868;
$white: #fff;
$danger: #df4661;
$red: #ef664f;
$link: #fff;
$black: #000;
$link-hover: $primary;
$border-radius: 100px;

// Fonts //
$family-primary: Helvetica, sans-serif;

// Font sizes //
$font-size: 16px;
$font-medium: 14px;
$font-small: 11px;
